<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">ASR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <a class="nav-link active" aria-current="page" href="https://alfarerasantarita.com/">Pagina principal</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cuentas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/accounts/login">Ingresar</a></li>
              <li><a class="dropdown-item" href="/accounts/signup">Registrarse</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/accounts/logout">Salir</a></li>
            </ul>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">¡Hola! {{ user.username }}</a>
          </li>
          {% endif %}
        </ul>
        <a href="{% url 'home_cart' %}">
          <button class="btn btn-outline-light ms-2" type="button">
            <i class='bx bx-cart' style='color:#c5bbbb'  ></i>
          </button>
        </a>    
      </div>
      </div>  
    </div>
  </nav>